.dpdb__control-bar {
  border: 1px solid #ccc;
  border-top: none;
  height: 48px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.dpdb__control-bar-column {
  border-left: none;
  border-right: none;
}

.dpdb__control-bar-column-reverse {
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: 1px solid #ccc;
}

.dpdb__control-bar > div {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  text-align: center;
}

.dpdb__control-bar div:hover {
  color: rgba(0, 0, 0, 0.5);
}
